################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/CQRSdsl/v15/.suo
/src/.vs/CQRSdsl/v15/Server/sqlite3/db.lock
/src/.vs/CQRSdsl/v15/Server/sqlite3/storage.ide
/src/.vs/CQRSdsl/v15/Server/sqlite3/storage.ide-shm
/src/.vs/CQRSdsl/v15/Server/sqlite3/storage.ide-wal
